# .env
# Copy this file and rename it to `.env` for these settings to take effect.

# Neoforge version to be installed on the image
NEOFORGE_VERSION=21.1.230
# Define unique names for the container and the server
# if you want to run more than one instance.
CONTAINER_NAME=neoforge-server
SERVER_NAME=myserver
# Server port forwarding
SERVER_PORT=25565
SERVER_VOIP_PORT=24454
# JVM memory settings
JVM_XMS=4096m
JVM_XMX=4096m
# JVM custom arguments settings
JVM_ARGS="-XX:+UseG1GC -XX:+ParallelRefProcEnabled -XX:MaxGCPauseMillis=200 -XX:+UnlockExperimentalVMOptions -XX:+DisableExplicitGC -XX:+AlwaysPreTouch -XX:G1NewSizePercent=30 -XX:G1MaxNewSizePercent=40 -XX:G1HeapRegionSize=8M -XX:G1ReservePercent=20 -XX:G1HeapWastePercent=5 -XX:G1MixedGCCountTarget=4 -XX:InitiatingHeapOccupancyPercent=15 -XX:G1MixedGCLiveThresholdPercent=90 -XX:G1RSetUpdatingPauseTimePercent=5 -XX:SurvivorRatio=32 -XX:+PerfDisableSharedMem -XX:MaxTenuringThreshold=1"
