# .env
# Copy this file and rename it to `.env` for these settings to take effect.

# Base image Java version (17, 21, 25, 26)
JAVA_VERSION=25
# Minecraft version to be installed on the image
MINECRAFT_VERSION=26.2
# PaperMC build to be installed on the image
PAPER_BUILD=92
# Define unique names for the container and the server
# if you want to run more than one instance.
SERVER_NAME=myserver
# Server port forwarding
SERVER_PORT=25565
SERVER_VOIP_PORT=24454
SERVER_RCON_PORT=25575
# JVM memory settings
JVM_XMS=4096m
JVM_XMX=4096m
# JVM custom arguments settings
JVM_ARGS="-XX:+UseG1GC -XX:+ParallelRefProcEnabled -XX:MaxGCPauseMillis=200 -XX:+UnlockExperimentalVMOptions -XX:+DisableExplicitGC -XX:+AlwaysPreTouch -XX:G1NewSizePercent=30 -XX:G1MaxNewSizePercent=40 -XX:G1HeapRegionSize=8M -XX:G1ReservePercent=20 -XX:G1HeapWastePercent=5 -XX:G1MixedGCCountTarget=4 -XX:InitiatingHeapOccupancyPercent=15 -XX:G1MixedGCLiveThresholdPercent=90 -XX:G1RSetUpdatingPauseTimePercent=5 -XX:SurvivorRatio=32 -XX:+PerfDisableSharedMem -XX:MaxTenuringThreshold=1"