# Define unique names for the container and the server
# if you want to run more than one instance.
CONTAINER_NAME=zomboid-server
SERVER_NAME=servertest
# Server version settings
BRANCH="public"
# Server port forwarding
SERVER_PORT=16261
SERVER_UDPPORT_PORT=16262
# JVM memory settings
JVM_XMS=4096m
JVM_XMX=4096m
# Server settings
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin